## Getting Started

In [ ]:
pip install polars

## Opening a CSV File

In [8]:
import polars as pl

data = pl.read_csv("../Datasets/employees.csv")
data.head()

shape: (5, 10)
┌────────────┬────────────┬───────────┬────────┬───┬────────────┬────────┬────────────┬────────────┐
│ Employee   ┆ First Name ┆ Last Name ┆ Gender ┆ … ┆ Position   ┆ Salary ┆ Email      ┆ Phone      │
│ ID         ┆ ---        ┆ ---       ┆ ---    ┆   ┆ ---        ┆ ($)    ┆ ---        ┆ ---        │
│ ---        ┆ str        ┆ str       ┆ str    ┆   ┆ str        ┆ ---    ┆ str        ┆ str        │
│ i64        ┆            ┆           ┆        ┆   ┆            ┆ i64    ┆            ┆            │
╞════════════╪════════════╪═══════════╪════════╪═══╪════════════╪════════╪════════════╪════════════╡
│ 1          ┆ John       ┆ Smith     ┆ Male   ┆ … ┆ Sales      ┆ 75000  ┆ john.smith ┆ 123-456-78 │
│            ┆            ┆           ┆        ┆   ┆ Manager    ┆        ┆ @example.c ┆ 90         │
│            ┆            ┆           ┆        ┆   ┆            ┆        ┆ om         ┆            │
│ 2          ┆ Jane       ┆ Doe       ┆ Female ┆ … ┆ HR         ┆ 60000  ┆ jane.doe@e ┆ 234-567-89 │
│            ┆            ┆           ┆        ┆   ┆ Specialist ┆        ┆ xample.com ┆ 01         │
│ 3          ┆ Michael    ┆ Johnson   ┆ Male   ┆ … ┆ IT Manager ┆ 80000  ┆ null       ┆ 345-678-90 │
│            ┆            ┆           ┆        ┆   ┆            ┆        ┆            ┆ 12         │
│ 4          ┆ Emily      ┆ Williams  ┆ Female ┆ … ┆ Marketing  ┆ 55000  ┆ emily.w@ex ┆ 456-789-01 │
│            ┆            ┆           ┆        ┆   ┆ Spec       ┆        ┆ ample.com  ┆ 23         │
│ 5          ┆ David      ┆ Brown     ┆ Male   ┆ … ┆ Accountant ┆ 65000  ┆ david.b@ex ┆ 567-890-12 │
│            ┆            ┆           ┆        ┆   ┆            ┆        ┆ ample.com  ┆ 34         │
└────────────┴────────────┴───────────┴────────┴───┴────────────┴────────┴────────────┴────────────┘

## Schema

In [23]:
data.schema

Schema([('Employee ID', Int64),
        ('First Name', String),
        ('Last Name', String),
        ('Gender', String),
        ('Date of Birth', String),
        ('Department', String),
        ('Position', String),
        ('Salary ($)', Int64),
        ('Email', String),
        ('Phone', String)])

## Exploratory Data Analysis

In [10]:
data.describe()

shape: (9, 11)
┌────────────┬────────────┬────────────┬───────┬───┬───────────┬───────────┬───────────┬───────────┐
│ statistic  ┆ Employee   ┆ First Name ┆ Last  ┆ … ┆ Position  ┆ Salary    ┆ Email     ┆ Phone     │
│ ---        ┆ ID         ┆ ---        ┆ Name  ┆   ┆ ---       ┆ ($)       ┆ ---       ┆ ---       │
│ str        ┆ ---        ┆ str        ┆ ---   ┆   ┆ str       ┆ ---       ┆ str       ┆ str       │
│            ┆ f64        ┆            ┆ str   ┆   ┆           ┆ f64       ┆           ┆           │
╞════════════╪════════════╪════════════╪═══════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ count      ┆ 30.0       ┆ 30         ┆ 30    ┆ … ┆ 30        ┆ 30.0      ┆ 28        ┆ 28        │
│ null_count ┆ 0.0        ┆ 0          ┆ 0     ┆ … ┆ 0         ┆ 0.0       ┆ 2         ┆ 2         │
│ mean       ┆ 15.5       ┆ null       ┆ null  ┆ … ┆ null      ┆ 62700.0   ┆ null      ┆ null      │
│ std        ┆ 8.803408   ┆ null       ┆ null  ┆ … ┆ null      ┆ 10449.055 ┆ null      ┆ null      │
│            ┆            ┆            ┆       ┆   ┆           ┆ 394       ┆           ┆           │
│ min        ┆ 1.0        ┆ Alexander  ┆ Adams ┆ … ┆ Accountan ┆ 45000.0   ┆ alex.y@ex ┆ 012-345-6 │
│            ┆            ┆            ┆       ┆   ┆ t         ┆           ┆ ample.com ┆ 789       │
│ 25%        ┆ 8.0        ┆ null       ┆ null  ┆ … ┆ null      ┆ 54000.0   ┆ null      ┆ null      │
│ 50%        ┆ 16.0       ┆ null       ┆ null  ┆ … ┆ null      ┆ 65000.0   ┆ null      ┆ null      │
│ 75%        ┆ 23.0       ┆ null       ┆ null  ┆ … ┆ null      ┆ 72000.0   ┆ null      ┆ null      │
│ max        ┆ 30.0       ┆ William    ┆ Young ┆ … ┆ System    ┆ 80000.0   ┆ sophia.w@ ┆ 901-234-5 │
│            ┆            ┆            ┆       ┆   ┆ Analyst   ┆           ┆ example.c ┆ 678       │
│            ┆            ┆            ┆       ┆   ┆           ┆           ┆ om        ┆           │
└────────────┴────────────┴────────────┴───────┴───┴───────────┴───────────┴───────────┴───────────┘

## Selecting

In [12]:
data.select(["First Name", "Last Name", "Department", "Salary ($)"])

shape: (30, 4)
┌────────────┬───────────┬────────────┬────────────┐
│ First Name ┆ Last Name ┆ Department ┆ Salary ($) │
│ ---        ┆ ---       ┆ ---        ┆ ---        │
│ str        ┆ str       ┆ str        ┆ i64        │
╞════════════╪═══════════╪════════════╪════════════╡
│ John       ┆ Smith     ┆ Sales      ┆ 75000      │
│ Jane       ┆ Doe       ┆ HR         ┆ 60000      │
│ Michael    ┆ Johnson   ┆ IT         ┆ 80000      │
│ Emily      ┆ Williams  ┆ Marketing  ┆ 55000      │
│ David      ┆ Brown     ┆ Finance    ┆ 65000      │
│ …          ┆ …         ┆ …          ┆ …          │
│ Amelia     ┆ Hall      ┆ Marketing  ┆ 77000      │
│ Samuel     ┆ Lewis     ┆ IT         ┆ 72000      │
│ Elizabeth  ┆ Adams     ┆ Sales      ┆ 55000      │
│ Benjamin   ┆ Walker    ┆ HR         ┆ 47000      │
│ Evelyn     ┆ Carter    ┆ Finance    ┆ 72000      │
└────────────┴───────────┴────────────┴────────────┘

## Filtering

In [19]:
data.filter(pl.col('Salary ($)') > 60000).select(["First Name", "Last Name", "Department", "Salary ($)"])

shape: (17, 4)
┌────────────┬───────────┬────────────┬────────────┐
│ First Name ┆ Last Name ┆ Department ┆ Salary ($) │
│ ---        ┆ ---       ┆ ---        ┆ ---        │
│ str        ┆ str       ┆ str        ┆ i64        │
╞════════════╪═══════════╪════════════╪════════════╡
│ John       ┆ Smith     ┆ Sales      ┆ 75000      │
│ Michael    ┆ Johnson   ┆ IT         ┆ 80000      │
│ David      ┆ Brown     ┆ Finance    ┆ 65000      │
│ Sarah      ┆ Jones     ┆ IT         ┆ 70000      │
│ Kevin      ┆ Anderson  ┆ Finance    ┆ 68000      │
│ …          ┆ …         ┆ …          ┆ …          │
│ Harper     ┆ Green     ┆ HR         ┆ 63000      │
│ Henry      ┆ Turner    ┆ Finance    ┆ 70000      │
│ Amelia     ┆ Hall      ┆ Marketing  ┆ 77000      │
│ Samuel     ┆ Lewis     ┆ IT         ┆ 72000      │
│ Evelyn     ┆ Carter    ┆ Finance    ┆ 72000      │
└────────────┴───────────┴────────────┴────────────┘

## Exporting Data

In [20]:
data.filter(pl.col('Salary ($)') > 60000).select(["First Name", "Last Name", "Department", "Salary ($)"]).write_csv('employee60K+.csv')

## Sorting

In [21]:
data.sort(pl.col('Department'))

shape: (30, 10)
┌────────────┬────────────┬───────────┬────────┬───┬────────────┬────────┬────────────┬────────────┐
│ Employee   ┆ First Name ┆ Last Name ┆ Gender ┆ … ┆ Position   ┆ Salary ┆ Email      ┆ Phone      │
│ ID         ┆ ---        ┆ ---       ┆ ---    ┆   ┆ ---        ┆ ($)    ┆ ---        ┆ ---        │
│ ---        ┆ str        ┆ str       ┆ str    ┆   ┆ str        ┆ ---    ┆ str        ┆ str        │
│ i64        ┆            ┆           ┆        ┆   ┆            ┆ i64    ┆            ┆            │
╞════════════╪════════════╪═══════════╪════════╪═══╪════════════╪════════╪════════════╪════════════╡
│ 5          ┆ David      ┆ Brown     ┆ Male   ┆ … ┆ Accountant ┆ 65000  ┆ david.b@ex ┆ 567-890-12 │
│            ┆            ┆           ┆        ┆   ┆            ┆        ┆ ample.com  ┆ 34         │
│ 11         ┆ Kevin      ┆ Anderson  ┆ Male   ┆ … ┆ Financial  ┆ 68000  ┆ kevin.a@ex ┆ null       │
│            ┆            ┆           ┆        ┆   ┆ Anlyst     ┆        ┆ ample.com  ┆            │
│ 15         ┆ Daniel     ┆ Martin    ┆ Male   ┆ … ┆ Accountant ┆ 68000  ┆ daniel.m@e ┆ 567-890-12 │
│            ┆            ┆           ┆        ┆   ┆            ┆        ┆ xample.com ┆ 34         │
│ 21         ┆ Alexander  ┆ Young     ┆ Male   ┆ … ┆ Financial  ┆ 70000  ┆ alex.y@exa ┆ 123-456-78 │
│            ┆            ┆           ┆        ┆   ┆ Anlyst     ┆        ┆ mple.com   ┆ 90         │
│ 25         ┆ Henry      ┆ Turner    ┆ Male   ┆ … ┆ Accountant ┆ 70000  ┆ henry.t@ex ┆ 567-890-12 │
│            ┆            ┆           ┆        ┆   ┆            ┆        ┆ ample.com  ┆ 34         │
│ …          ┆ …          ┆ …         ┆ …      ┆ … ┆ …          ┆ …      ┆ …          ┆ …          │
│ 7          ┆ Jason      ┆ Lee       ┆ Male   ┆ … ┆ Sales Rep  ┆ 55000  ┆ jason.lee@ ┆ null       │
│            ┆            ┆           ┆        ┆   ┆            ┆        ┆ example.co ┆            │
│            ┆            ┆           ┆        ┆   ┆            ┆        ┆ m          ┆            │
│ 13         ┆ William    ┆ Harris    ┆ Male   ┆ … ┆ Sales Rep  ┆ 52000  ┆ null       ┆ 345-678-90 │
│            ┆            ┆           ┆        ┆   ┆            ┆        ┆            ┆ 12         │
│ 18         ┆ Isabella   ┆ Adams     ┆ Female ┆ … ┆ Sales Rep  ┆ 53000  ┆ isabella.a ┆ 890-123-45 │
│            ┆            ┆           ┆        ┆   ┆            ┆        ┆ @example.c ┆ 67         │
│            ┆            ┆           ┆        ┆   ┆            ┆        ┆ om         ┆            │
│ 23         ┆ Benjamin   ┆ Hill      ┆ Male   ┆ … ┆ Sales Rep  ┆ 54000  ┆ benjamin.h ┆ 345-678-90 │
│            ┆            ┆           ┆        ┆   ┆            ┆        ┆ @example.c ┆ 12         │
│            ┆            ┆           ┆        ┆   ┆            ┆        ┆ om         ┆            │
│ 28         ┆ Elizabeth  ┆ Adams     ┆ Female ┆ … ┆ Sales Rep  ┆ 55000  ┆ elizabeth. ┆ 890-123-45 │
│            ┆            ┆           ┆        ┆   ┆            ┆        ┆ a@example. ┆ 67         │
│            ┆            ┆           ┆        ┆   ┆            ┆        ┆ com        ┆            │
└────────────┴────────────┴───────────┴────────┴───┴────────────┴────────┴────────────┴────────────┘